<!DOCTYPE html>
<html>
  <head>
    <title>Frontline</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <div class="wrapper">
    <marquee behavior="alternate"><span class="marquee">!!!WEAR YOUR MASKS!!!</span></marquee>
  </div>

  <body style="background-color:black;">
    <div style="margin-bottom: .5in;"v>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/frontline">Frontline Workers <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/sqlthings">SQL</a>
            <a class="nav-item nav-link" href="https://www.theguardian.com/us-news/2020/apr/13/lost-on-the-frontline-us-healthcare-coronavirus-deaths" target="_blank">Submit</a>
            
          </div>
        </div>
      </nav>
    </div>
    
    
    <div id="nooo">
      <h1>Thank you to All our frontline workers</h1>
      <div id="carouselExampleSlidesOnly" class="carousel slide align-items-center" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-1" src=<%=data[10].image %> alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-1" src=<%=data[11].image %> alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-1" src=<%=data[44].image %> alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-1" src=<%=data[90].image %> alt="Fourth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-1" src=<%=data[24].image %> alt="Fifth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-1" src=<%=data[70].image %> alt="Sixth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-1" src=<%=data[100].image %> alt="Seventh slide">
          </div>
        </div>
      </div>
      
      
      <p>Currently, over 700 Frontline workers have passed away due to covid
        The total deathtoll in the U.S has risen to 129,000 and over 512,000
        deaths worldwide.
      </p>
    </div>
    
  </body>
</html>


